<!--- Footer -->

<footer>
    <div class="container-fluid padding">


        <div class="row text-center">
            <div class="col-md-4">

                <img src="img/logo9.png">
                <hr class="light">
                <p>01-8080028</p>
                <p>irelandfoodforthought@gmail.com</p>
                <p>Dublin, Ireland</p>
            </div>

            <div class="col-md-4">
              <hr class="light">
                <h5>Our hours</h5>
                <hr class="light">
                <p>Monday: 9am - 5pm</p>
                <p>Saturday: 10am - 4pm</p>
                <p>Sunday Closed</p>




        </div>
            <div class="col-md-4">

                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/foodlog">Diary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact us</a>
                </li>

                </ul>


            </div>
            <div class="col-12">

                <hr class="light">
                <h5>&copyFoodforthought</h5>
            </div>


    </div>
    </div>
</footer>
<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>


<script>
var config = {
apiKey: "AIzaSyAkKX9E1tE8RBqkA26a6ZqifnfqYZgl9rE",
authDomain: "fir-web-login-4c7f6.firebaseapp.com",
databaseURL: "https://fir-web-login-4c7f6.firebaseio.com",
projectId: "fir-web-login-4c7f6",
storageBucket: "fir-web-login-4c7f6.appspot.com",
messagingSenderId: "265197082111"
};
firebase.initializeApp(config);

</script>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</body>
</html>
