  <!-- Navigation bar -->
  <div class="topnav">
    <h1>Food For Thought</h1>
    <a class="active" href="/">Home</a>
    <a href="/blogPage">Blog</a>
    <a href="/foodlog">Log Diet</a>
    <a href="/about">About</a>
    <a href="/ContactUs">Contact Us</a>
    <div class="search-container">
      <form action="/search" method="GET">
        <input type="text" placeholder="Search.." name="searchTerm">
        <button ><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
<!-- End of nav bar -->