<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="/"><img src="img/logo9.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto"> <!---pushes navigation to the right hand side-->

            <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/foodlog">Diary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account">My Account</a>
            </li>
        </ul>
        <!-- search bar -->
        <div class="search-container">
        <form class="form-inline" action="/search" method="GET">
            <input class="col-2" type="search" placeholder="Search for food..." aria-label="Search" name="searchTerm">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    </div>
</div>
</nav>