<!-- Navigation -->
<link href="style.css" rel="stylesheet">

<nav class="navbar navbar-expand-md navbar-light sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="/"><img src="img/logo9.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto"> <!---pushes navigation to the right hand side-->
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/foodlog">Diary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
						<li class="nav-item dropdown">
		 <a class="nav-link dropdown-toggle" id="acc" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
		 <div class="dropdown-menu">
			 <a class="dropdown-item" href="/account">My Account</a>
			 <div class="dropdown-divider"></div>
			 <a class="dropdown-item" href="/login" onclick="logout()">Log Out</a>
		 </div>
	 </li>
        </ul>
        <!-- search bar -->
					<div class="pull-right">
				<form class="navbar-form pull-right" action="/search" method="GET" role="search">
            <div class="form-row align-items-center">
                <div class="col-5">
                    <input class="form-control" type="search" placeholder="Search for food" aria-label="Search" name="searchTerm">
                </div>
                <div class="col-auto">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
					</div>
    </div>
</div>
</nav>
<script type="text/javascript" src="home.js"></script>
