/* Create two equal columns thart floats next to each other */
body {
  background-image: url("img/choppingboard.jpg");
  background-size: 100% 100%; 
}

h2 {
  text-align: center;
  margin: 20px;
}

.col1 {
    float: left;
    width: 50%;
    border-right: thick solid #dcdddd67;;
}
.col2 {
  float: right;
  width: 50%;
}

.container {
  background-color: white;
  margin: 0 30px;
  opacity: 0.92;
}

#analyseDiet {
  float: right;
  margin: 20px;
}

#analyseDiet a {
  color: white;
  text-decoration: none;
} 

table {
  margin: 0 auto;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 200px;
  background-color: white;
}

table td {
  padding: 10px;
  border-right: 1px solid lightgrey;
}

table th {
  border-bottom: 1px solid lightgrey;
  background-color: rgb(25,145,145);
  color: white;
  text-align: center;
  padding: 15px;
}

th:nth-child(n+2), td:nth-child(n+2) {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: rgb(245, 241, 241);
}