/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
}
.column2 {
  float: right;
  width: 50%;
  padding: 10px;
}
#analyseDiet {
  position: absolute;
  right:    0;
  bottom:   0;
  margin: 50px;
}
#analyseDiet a {
  color: white;
  text-decoration: none;
}