.container {
  background-color: white;
  padding-right: 40px;
  padding-left: 40px;
}

h2 {
  padding: 25px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#resultsForm {
  margin: 0 auto;
}