<% include partials/head.ejs %>
</head>
<body onload="checkUser(); getUserId()">
<% include partials/navbar.ejs %>

<div class="container">
    <h1>About Us</h1><br /><br />
    <p>
      	We are a group of students who were tasked with making a web application for a university module (CS353c)<br>
      	As a group we decided to make a calorie counting app that was more focused on health rather than weight loss.<br>
      	This meant having the more focus on micro nutrient intake being correct rather than just focusing on <br>
      	overall calorie intake, which is unlike most other food tracking apps.<br>
      	We found this idea to be appealing and have enjoyed our time creating this site.<br>
      	<!--
      		keep this on the left, put image on right, possibly more text under
      	-->
      </p>
</div>
<script src="/home.js"></script>

  <% include partials/footer.ejs %>
