  <link rel="stylesheet" href="createAccountStyle.css">
</head>
<body>

<% include partials/navbar.ejs %>


  <div class="container">
    <h1 class="brand"><span>Food For Thought</h1>
    <div class="wrapper">
      <div class="company-info">
        <h3>Create Account</h3>
        
      </div>
      <div class="contact">
        <div class="alert">Your account has been activated</div>
        <form id="CreateAccount">
          <p>
            <label>First Name</label>
            <input type="text" name="Firstname" id="Firstname" required>
          </p>
          <p>
            <label>Surname</label>
            <input type="text" name="Surname" id="Surname">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email" id="email" required>
          </p>
          <p>
            <label>Date of Birth</label>
            <input type="date" name="dob" id="dob">
          </p>
          <p>
            <label>Height</label>
            <input type="text" name="height" id="height">
          </p>
          <p>
            <label>Weight</label>
            <input type="text" name="weight" id="weight">
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
    
    <h3>YOUR ACCOUNT </h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Surname</th>
          <th>Email</th>
          <th>DOB</th>
          <th>Height</th>
          <th>Weight</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="Firstname"></td>
          <td id="Surname"></td>
          <td id="email"></td>
          <td id="DOB"></td>
          <td id="Height"></td>
          <td id="Weight"></td>

        </tr>
      </tbody>
    </table>
  </div>
  <script src="createAccount.js"></script>

  <% include partials/footer.ejs %>
</body>
</html>