<link rel="stylesheet" type="text/css" href="dietbreakdown.css">
<% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar.ejs %>

<div class="container">
    <h2>Diet Nutritional Breakdown</h2>
    <hr>
    <table id="nutritionTable">
        <thead>
            <th>Nutrient</th>
            <th>Your Intake</th>
            <th>RDA</th>            
            <th>Difference</th>
        </thead>
        <tbody>
        <% for (var key in nutrients) { %>
            <% if (nutrients.hasOwnProperty(key)) { %>
            <tr>
                <td><%= key %></td> 
                <td><%= nutrients[key] %></td> 
            <% } %>
        <% } %>

        <% for (var key in rda) { %>
            <% if (rda.hasOwnProperty(key)) { %>
                <td><%= key %></td> 
                <td><%= rda[key] + " %"%></td> 
            <% } %> 
        <% } %>
            </tr>
        </tbody>
    </table>
</div>

<% include partials/footer.ejs %>