<link rel="stylesheet" type="text/css" href="dietbreakdown.css">
<% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar.ejs %>

<div class="container">
    <h2>Diet Nutritional Breakdown</h2>
    <hr>
    <table id="nutritionTable">
        <thead>
            <th>Nutrient</th>
            <th>RDA</th>
            <th>Your Intake</th>
            <th>Difference</th>
        </thead>
        <tbody>
            <tr>
                <td><%= nutrients %></td>
            </tr>
        </tbody>
    </table>
</div>

<% include partials/footer.ejs %>