<link rel="stylesheet" type="text/css" href="dietbreakdown.css">
<% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar.ejs %>

<div class="container">
    <h2>Diet Nutritional Breakdown</h2>

    <table id="nutritionTable">
        <thead>
        <th>Nutrient</th>
        <th>RDA</th>
        <th>Your Intake</th>
        <th>Difference</th>
        </thead>
        <tbody>
            <% label.forEach(function(label,rda,quantity){ %>
            <tr>
                <td><%- label %></td>
                <td><%- rda %></td>
                <td><%- quantity %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<% include partials/footer.ejs %>