<% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container">
    <h1 style="align:center">404 Error</h1>
    <h3 style="align:center">Page Not Found!</h3>

    <a href="/"><button type="button" class="btn btn-primary btn-lg">Return to Homepage</button></a>
</div>
    
    <% include partials/footer.ejs %>