<% include partials/head.ejs %>
<link rel="stylesheet" href="login.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
</head>
<body>
<% include partials/navbar.ejs %>

<div class="container">




<div id="login_div" class="main-div">
  <h2>Login</h2>
  <input type="email" placeholder="Email..." id="email_field" />
  <input type="password" placeholder="Password..." id="password_field" />

  <button class="btn" onclick="login()">Login</button>
</div>


<div id="user_div" class="loggedin-div">
  <h3>Welcome</h3>
  <p id="user_para">You're currently logged in.</p>
  <a href="/account"><button class="btn">My Account</button></a>

</div>
</div>



<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>


<!-- Initialize Firebase -->

<script>
var config = {
apiKey: "AIzaSyAkKX9E1tE8RBqkA26a6ZqifnfqYZgl9rE",
authDomain: "fir-web-login-4c7f6.firebaseapp.com",
databaseURL: "https://fir-web-login-4c7f6.firebaseio.com",
projectId: "fir-web-login-4c7f6",
storageBucket: "fir-web-login-4c7f6.appspot.com",
messagingSenderId: "265197082111"
};
firebase.initializeApp(config);

</script>
<script src="login.js"></script>












<% include partials/footer.ejs %>
