<% include partials/head.ejs %>
</head>
<body id ="myAccount" onload="checkUser()">
<% include partials/navbar.ejs %>

<div class="container" style="background-color: white">
    <h1>My Account Page</h1>
<table style="width:100%" id="ex-table"class="table table-hover">
  <thead>
  <tr id="tr">
    <th scope="col">Firstname</th>
    <th scope="col">Surname</th> 
    <th scope="col">DOB</th>
    <th scope="col">Email</th>
    <th scope="col">Height</th>
    <th scope="col">Weight</th>
  </thead>
  <tbody>
    <tr id="row1">
       
    </tr>
  
  </tbody>
 </table> 
 <button class="btn btn-primary"type="button" id="tableButton">Update Account Info</button>

</div>

 <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
 <script
 src="https://code.jquery.com/jquery-3.3.1.min.js"
 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 crossorigin="anonymous"></script>
 <script src="myAccount.js" ></script>

  <% include partials/footer.ejs %>
