<% include partials/head.ejs %>
</head>
<body onload="checkUser()">
<% include partials/navbar.ejs %>

<div class="container">
    <h1>My Account Page</h1>
<table style="width:100%" id="ex-table">
  <thead>
  <tr id="tr">
    <th>Firstname</th>
    <th>Surname</th> 
    <th>DOB</th>
    <th>Email</th>
    <th>Height</th>
    <th>Weight</th>
  </thead>
  <tbody>
    <tr id="row1">
       
    </tr>
  
  </tbody>
 </table> 
 <button type="submit" id="tableButton">Update Account Info</button>

</div>

 <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
 <script
 src="https://code.jquery.com/jquery-3.3.1.min.js"
 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 crossorigin="anonymous"></script>
 <script src="myAccount.js" ></script>

  <% include partials/footer.ejs %>
