<% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar.ejs %>

<div class="container">
    <h1>My Account Page</h1>
</div>

<table style="width:100%" id="ex-table">
    <tr id="tr">
      <th>Firstname</th>
      <th>Surname</th> 
      <th>DOB</th>
      <th>Email</th>
      <th>Height</th>
      <th>Weight</th>
      
   </table> 
   <script src="myAccount.js" ></script>

  <% include partials/footer.ejs %>