<% include partials/head.ejs %>
</head>
<body id="nutrientsPage" >
<% include partials/navbar.ejs %>

  <div class="container" style="background-color:white">
    <h2 style="padding:25px; margin-bottom:0px;">Nutritional Information</h2>
    <hr>
    <table  id="nutrientsTable" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nutrient</th>
            <th scope="col">Quantity</th>
            <th scope="col">RDA</th>
        </tr>
        </thead>
        <tbody>
            <% for(var key in nutrients) { %>
                <% if (nutrients.hasOwnProperty(key)) { %>
                    <% var val = nutrients[key]; %>
            <tr>
                <td> <%= val.label %></td>
                <td> <%= Math.round(val.quantity * 100) / 100 + " " + val.unit %></td>
                <% } %>
            <% } %>
            <% for(var key in rda) { %>
                <% if (rda.hasOwnProperty(key)) { %>
                    <% var value = rda[key]; %>
                <td> <%= Math.round(value.quantity * 100) / 100 + " " + value.unit %></td>
            </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
  </div>

  <% include partials/footer.ejs %>