<% include partials/head.ejs %>
</head>
<body id="nutrientsPage" >
<% include partials/navbar.ejs %>

  <div class="container">
    <h2 style="background-color:white; padding:25px;">Nutritional Information</h2>
    <table  id="nutrientsTable" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nutrient</th>
            <th scope="col">Quantity</th>
        </tr>
        </thead>
    <tbody>
        <% label.forEach(function(label,quantity){ %>
        <tr>
            <td><%- label %></td>
            <td><%- quantity %></td>
        </tr>
      <% }); %>
    </tbody>
    </table>
  </div>

  <% include partials/footer.ejs %>
    
    