<% include partials/head.ejs %>
</head>
<body id="nutrientsPage" >
<% include partials/navbar.ejs %>

  <div class="container" style="background-color:white">
    <h2 style="padding:25px; margin-bottom:0px;">Nutritional Information</h2>
    <hr>
    <table  id="nutrientsTable" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nutrient</th>
            <th scope="col">Quantity</th>
        </tr>
        </thead>
    <tbody>
        <% var i=0; %>
        <% label.forEach(function(label){ %>
        <tr>
            <td><%= label %></td>
            <td><%= quantity[i] %></td>
            <% i++; %>
        </tr>
      <% }); %>
    </tbody>
    </table>
  </div>

  <% include partials/footer.ejs %>
    
    