<% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar.ejs %>

  <div class="container">
    <table>
        <thead>
        <tr>
        <th>Nutrient</th>
        <th>Quantity</th>
        </tr>
        </thead>
    <tbody>
        <% label.forEach(function(label,quantity){ %>
        <tr>
        <td><%- label %></td>
        <td><%- quantity %></td>
        </tr>
      <% }); %>
    </tbody>
    </table>
  </div>

  <% include partials/footer.ejs %>
    
    