<% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar.ejs %>

  <div>
      <% nutrients.forEach(function(nutrients){ %>
          <li><%- JSON.stringify(nutrients) %>
      <% }); %>
  </div> -->

  <% include partials/footer.ejs %>
    
    