<% include partials/head.ejs %>
</head>
<body id="nutrientsPage" >
<% include partials/navbar.ejs %>

  <div class="container" style="background-color:white">
    <h2 style="padding:25px; margin-bottom:0px;">Nutritional Information</h2>
    <hr>
    <table  id="nutrientsTable" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nutrient</th>
            <th scope="col">Quantity</th>
            <th scope="col">RDA</th>
        </tr>
        </thead>
        <tbody>
            <% var array = []; %>
            <% i=0; %>
            <% for(var key in rda) { %>
                <% if (rda.hasOwnProperty(key)) { %>
                    <% array.push(rda[key].quantity); %>
                <% } %>
            <% } %>

            <% for(var key in nutrients) { %>
                <% if (nutrients.hasOwnProperty(key)) { %>
                    <% var val = nutrients[key]; %>
                    <tr>
                        <td> <%= val.label %></td>
                        <td> <%= Math.round(val.quantity * 100) / 100 + " " + val.unit %></td>
                        <td> <%= (Math.round(array[i] * 100) / 100) + "%"; %></td>
                        <% i++; %>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
  </div>

  <% include partials/footer.ejs %>