<% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar.ejs %>

<h2>Search Results</h2>

<div id="searchResultsList">
    <div>
        <% result.forEach(function(foodType, measurement){ %>
                <form id="resultsForm" class="inline-form" action="/nutrients" method="GET">
                    <input type="hidden" name="foodType" value='<%-foodType.uri%>'><%- foodType.label %>
                    <input name="quantity" type="text" placeholder="Quantity">
                        <select id="inputState" class="form-control" name="measurement">Measurement
                            <option selected disabled> Measure </option>
                            <% measures.forEach(function(measurement){%>
                                <option value= '<%-measurement.uri%>'> <%- measurement.label %> </option>
                            <%  }); %>
                        </select>
                    <input class="btn btn-default btn-primary" type="submit">
                </form>
        <%  }); %>
    </div>
</div>

<% include partials/footer.ejs %>



<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>