<% include partials/head.ejs %>
</head>
<body id="searchResults">
<% include partials/navbar.ejs %>

<h2>Search Results</h2>

<div id="searchResultsList">
    <div class="container">
        <% result.forEach(function(foodType, measurement){ %>
        <form id="resultsForm" action="/nutrients" method="GET">
            <div class="form-row align-items-center">
                <div class="col">
                    <input class="form-control" type="hidden" name="foodType" value='<%-foodType.uri%>'><%- foodType.label %>
                </div>
                <div class="col-sm-2 my-1">
                    <input class="form-control mb-2" name="quantity" type="text" placeholder="Quantity">
                </div>
                <div class="col-auto">
                    <select id="inputState" class="form-control" name="measurement">Measurement
                        <option selected disabled> Measure </option>
                        <% measures.forEach(function(measurement){%>
                            <option value= '<%-measurement.uri%>'> <%- measurement.label %> </option>
                        <%  }); %>
                    </select>
                </div>
                <div class="col">
                    <input class="btn btn-primary mb-2" type="submit">
                </div>
            </div> 
        </form>
        <%  }); %>
    </div>
</div>

<% include partials/footer.ejs %>