<!doctype html>
<html>
<head>
  <title>Food For Thought</title>
  <link rel="stylesheet" type="text/css" href="home.css" />
  <link rel="stylesheet" type="text/css" href="searchResults.css">
  <!--link for search bar button style below -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
 <% include partials/header.ejs %>

<h2>Search Results</h2>

<div id="searchResultsList">
    <div>
        <% result.forEach(function(foodType, measurement){ %>
                <form id="resultsForm" action="/nutrients" method="GET">
                    <input type="hidden" name="foodType" value='<%-JSON.stringify(foodType.uri)%>'><%- JSON.stringify(foodType.label) %>
                    <input name="quantity" type="text" placeholder="Enter Quantity...">
                    <div class="dropdown" >
                        <select class="dropdown dropdown-content" name="measurement">Measurement
                        <div class="dropdown dropdown-content" >
                            <option class="dropdown dropdown-content" selected disabled> Measurement </option>
                            <% measures.forEach(function(measurement){%>
                                <option class="dropdown dropdown-content" value= '<%-JSON.stringify(measurement.uri)%>' > <%-JSON.stringify(measurement.label)%> </option>
                            <%  }); %>
                        </div>
                        </select>
                    </div>
                    <input class="btn btn-default btn-primary" type="submit">
                </form>
        <%  }); %>
    </div>
</div>
</body>
</html>