<% include partials/head.ejs %>

<link rel="stylesheet" href="/verify.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
</head>
<body onload="getUserId()">
<% include partials/navbar.ejs %>


<div class="form">
<div class="container">

<div id="user_div" class="loggedin-div">
    <h3>Please Verify your Account</h3>

    <button class="verify_btn" id="verify_btn" onclick="send_verification()"> Send Verification</button>

  </div>
</div>
</div>












<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>


<!-- Initialize Firebase -->

<script>
var config = {
apiKey: "AIzaSyAkKX9E1tE8RBqkA26a6ZqifnfqYZgl9rE",
authDomain: "fir-web-login-4c7f6.firebaseapp.com",
databaseURL: "https://fir-web-login-4c7f6.firebaseio.com",
projectId: "fir-web-login-4c7f6",
storageBucket: "fir-web-login-4c7f6.appspot.com",
messagingSenderId: "265197082111"
};
firebase.initializeApp(config);

</script>
<script src="/signup.js"></script>


<% include partials/footer.ejs %>
